<%- include("partials/header") -%> <%- include("partials/nav") -%> <%-
include("partials/title") -%>
<section class="about">
  <img class="margin-bottom about__img" src="/img/andy-selfie.jpg" alt="portrait-photo" />
  <h2 class="margin-bottom about__title">Hi, I'm Andy 'Vern' Bennett</h2>
  <p class="about__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur recusandae odio eum maiores odit a modi maxime ea placeat repellat quas at, expedita assumenda quisquam rem ratione nostrum architecto voluptates eveniet incidunt vel voluptatum nihil? Illum in, distinctio atque aliquid numquam magni nulla voluptas quam labore quaerat, possimus quo non.</p>


</section>

<%- include("partials/scripts") -%> <%- include("partials/footer") -%>
